[submodule "cookbook-client"]
	path = cookbook-client
	url = https://github.com/cekmorse/cookbook-client
[submodule "cookbook-server"]
	path = cookbook-server
	url = https://github.com/cekmorse/cookbook-server